[project]
	description = Simple class to replace existing NSURLConnection:sendAsynchronousRequest:queue:completionHandler call with delegate calls to facilitate use of PonyDebugger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Darren Ehlers (ehlersd)
[access "refs/for/refs/*"]
	read = group user/Darren Ehlers (ehlersd)
	push = group user/Darren Ehlers (ehlersd)
	label-Code-Review = -2..+2 group user/Darren Ehlers (ehlersd)
	label-Verified = -1..+1 group user/Darren Ehlers (ehlersd)
	rebase = group user/Darren Ehlers (ehlersd)
	removeReviewer = group user/Darren Ehlers (ehlersd)
	submit = group user/Darren Ehlers (ehlersd)
[access "refs/heads/*"]
	read = group user/Darren Ehlers (ehlersd)
	create = group user/Darren Ehlers (ehlersd)
	push = +force group user/Darren Ehlers (ehlersd)
	pushMerge = group user/Darren Ehlers (ehlersd)
[access "refs/tags/*"]
	push = +force group user/Darren Ehlers (ehlersd)
	pushTag = group user/Darren Ehlers (ehlersd)
	pushSignedTag = group user/Darren Ehlers (ehlersd)
